/* Variables */
:root {
  --main-color: #d90429;
  --text-color: #020120;
  --bg-color: #f9f9f9;
  --button-hover: #a4021d;
  --border-color: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  padding: 20px;
  background-color: var(--main-color);
  color: #fff;
}

header h1 {
  font-size: 2.5em;
  font-weight: 600;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.dashboard-buttons {
  display: flex;
  gap: 20px;
}

button {
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover);
}
